footer {
  /*background: #0f213e;*/
  background: #0c1a31;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

footer p {
  margin-bottom: 0px;
  margin-right: 7px;
}

footer .list-inline li i {
  font-size: 20px;
  color: white;
}

