.wrapper-form {
  // margin: 30px auto;
  text-align: center;
  padding: 100px 40px;
  background-color: #F4F4F4;
}

.wrapper-form h2 {
  margin-top: 0px;
}

.btn {
  background-color: #ba1818;
  border-color: #ba1818;
}

.btn:hover {
  background-color: #900D0D;
}
