  <!-- <footer> -->
<ul class="list-inline" id="list-inline-footer">
  <li><a href = "#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
  <li><a href= "#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
  <li><a href= "#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
  <li><a href= "#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
</ul>

<p>This website has been designed by @jessicalesly</p>

  <!-- </footer> -->
